p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*--- LOGO ---*/

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important; 
}

/* HERO IMAGE */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 340px;
  background-color: #133454;
}

.hero-image {
  width: "100%";
  height: 340px;
  object-fit: cover;
}

.page-inner {
  padding-top: 400px !important;
}